[Unit]
Description=Monitors the DHT sensor data
After=networking.service
Requires=network.target

[Service]
Type=simple

User=root
Group=root

ExecStart=/usr/local/bin/dht-sensors.py
Restart=always

[Install]
WantedBy=multi-user.target
