[Unit]
Description=Monitors the DHT sensor data
After=networking.service
Requires=network.target

[Service]
Type=simple

User=root
Group=root

ExecStart=/usr/local/bin/dht-sensors.py
ExecStop=killall dht-sensors.py
Restart=true
